.myHeight {
  height: 30%;
  width: 350px;
  border-radius: 10px;
}
.modal {
  font-size: 12px;
}
.modal > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


ul {
  list-style-type: none; /* Remove bullet points */
  padding: 0; /* Remove padding from ul */
}

li {
  position: relative; /* Position relative to place underline */
}

.underline {
  position: absolute;
  left: 0;
  bottom: 0; /* Adjusted to position directly under text */
  height: 2px; 
  background-color: #c4a053; /* Same as Tailwind's orange-500 */
  width: 0; 
  transition: width 0.3s ease-in-out; 
}

li:hover .underline {
  width: 100%; 
}
